[project]
	description = A sample Spring-based application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shiva5592
[access "refs/for/refs/*"]
	read = group user/shiva5592
	push = group user/shiva5592
	label-Code-Review = -2..+2 group user/shiva5592
	label-Verified = -1..+1 group user/shiva5592
	rebase = group user/shiva5592
	removeReviewer = group user/shiva5592
	submit = group user/shiva5592
[access "refs/heads/*"]
	read = group user/shiva5592
	create = group user/shiva5592
	push = +force group user/shiva5592
	pushMerge = group user/shiva5592
[access "refs/tags/*"]
	push = group user/shiva5592
	push = +force group user/shiva5592
